#footer {
background: var(--color-primary);
padding: 4rem 0;
text-align: center;
font-size: 0.9rem;
margin-bottom: none;

}
#footer a {

color: var(--color-bg);
}
#footer a:hover {
    
color: var(--color-white);
}

.footer__logo {
font-size: 2rem;
font-weight: 500;
margin-bottom: 2rem;
display: inline-block;


}
.permalink {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 2rem;
margin: 0 auto 3rem;

}
.footer__socials {
display: flex;
justify-content: center;
gap: 1rem;
margin-bottom: 4rem;
}

.footer__socials a {
background: var(--color-light);
color: var(--color-light);
padding: 0.8rem;
border-radius: 0.7rem;
display: flex;
border: 1px solid transparent;

}

.footer__socials:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer__copyright {
margin-bottom: 4rem;
color: var(--color-white);
text-align: center;

}

 
     
 @media screen and (max-width: 600px) {
     


    .permalink {
         flex-direction: column;
         gap: 1.5rem;
         margin-top: 5rem;
     }
     .footer__socials {
         margin-bottom: 2.6rem;
     }
     .footer__logo {
        margin-top: 5rem;
     }


}